{% extends 'admin/base.html' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Пользователи</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'admin' %}">Главная</a></li>
              <li class="breadcrumb-item active">Пользователи</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                  <div class="row align-items-center">
                      <div class="col-md-6">
                        <h3 class="card-title">Добавление пользователя</h3>
                      </div>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form action="{% url 'admin.users.create' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="username">Никнейм</label>
                        <input type="text" name="username" class="form-control" id="username">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="first_name">Имя</label>
                        <input type="text" name="first_name" class="form-control" id="first_name">
                      </div>
                    </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="last_name">Фамилия</label>
                          <input type="text" name="last_name" class="form-control" id="last_name">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="latitude">Широта</label>
                          <input type="text" name="latitude" class="form-control" id="latitude">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="longtitude">Долгота</label>
                          <input type="text" name="longtitude" class="form-control" id="longtitude">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="password">Пароль</label>
                          <input type="password" name="password" class="form-control" id="password">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" name="email" class="form-control" id="email">
                        </div>
                      </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="avatar">Картинка</label>
                        <input type="file" name="avatar" id="avatar" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="regions">Регион</label>
                        <select name="region" class="form-control select2" id="regions">
                          {% for region in regions %}
                          <option value="{{region.id}}">{{region.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row justify-content-between">
                        <div class="col-md-2">
                          <a href="{% url 'admin.users' %}" class="btn btn-secondary">Назад</a>
                        </div>
                        <div class="col-md-2 text-right">
                          <button class="btn btn-success">Добавить</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

{% endblock %}